<html>
<head>
   <!---- <link rel="stylesheet" href="style.css"> -->
        <script src="index.js"></script>
    <meta charset = "utf-8">
    <title>
        Server на Node.js
    </title>
</head>
<body>
      
<h1>Server на Node.js</h1>
<% include blocks/header.ejs %>
<button onclick="alert"> Button </button>
<style>
    body{
    margin:0;
    padding: 0;
    text-align: center;
    }
h1{
    background-color:rgb(139, 46, 34);
    
}
</style>
</body>
    </html>
    