<html>
<head>
   <link rel="stylesheet" href="/public/css/style.css"> 
        <script src="index.js"></script>
    <meta charset = "utf-8">
    <title>
        Server на Node.js
    </title>
</head>
<body>
  
<h1>Выводим ID - <%=newsId %></h1>
<p><b>Title: </b><%= obj.title %></p>
<p><b>ID: </b><%= obj.id %></p>
<% include header.ejs %>
<button onclick="alert"> Button </button>

</body>
    </html>
    